body {
  overflow-x: hidden;
  user-select: none;
  cursor: default;
  background: $app_background;
}

.header-container {
  @include pos(0, 0, auto, 0);
  height: $header_height;
  line-height: $header_height;
}

.page-container {
  @include pos($header_height, 0, 0, 0);
}
