.header {

  background: darken($app_background, 10);
  @extend #group;

  h1 {
    padding: 0;
    margin: 0 0 0 20px;
    float: left;
  }

  nav {
    float: right; 
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style-type: none;
    display: inline-block;
    padding: 0 20px;

    color: $white;
    font-size: 16px;
    font-weight: 700;

    cursor: pointer;

    &:hover {
      background: darken($app_background, 5);
    }

    &.active {
      background: darken($app_background, 5);
      box-shadow: inset 0 -5px 0 $peter_river;
    }
  }

}
