header {
  
  h1 {
    margin: 0 0 0 20px;
    float: left;
  }

  nav {
    float: right; 
    font-size: 0;
  }

  button.nav {
    height: 50px;
    padding: 0 30px;
    background: transparent;
    color: $white;
    border: 0;
    font-size: 14px;
    margin: 0;
    transition: background 0.15s;

    &:hover {
      background: $wet_asphalt;
    }

    &:last-child {
      border-right: 0;
    }

    &.button-open:hover {
      background: $nephritis;
    }

    &.button-generate:hover {
      background: $carrot;
    }

    &.button-save:hover {
      background: $wisteria;
    }
  }

  .button-save.pending {
    position: relative;

    &:after {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      background: $carrot;
      height: 6px;
    }

  }
}
