.invoice-records {

  @include pos(0, 0, 0, 0);

  display: none;

  padding: 20px;
  background: $wet_asphalt;
  z-index: 7;

  .table {
    @include pos(120px, 20px, 20px, 20px);
  }

  .table-head, .table-body {
  }

  .table-head .row {
    border-bottom: 4px solid $midnight_blue;
  }

  .table-body {
    @include pos(54px, 0, 0, 0);
    overflow-y: auto;
  }

  .row {
    display: block;
    width: 100%;
    font-size: 0;
  }

  .table-head .cell {
    font-weight: bold;
  }

  .cell {
    color: $white;
    display: block;
    display: inline-block;
    padding: 0 10px;
    line-height: 50px;
    font-size: 16px;
  }

  .row:nth-child(2n) {
    background: lighten($wet_asphalt, 5);
  }

  // Widths
  .id {
    width: 50px;
  }

  .date {
    width: 100px;
  }

  .customer {
    width: calc(50% - 197px);
  }

  .site {
    width: calc(50% - 250px);
  }

  .cost {
    width: 100px;
  }

  .paid {
    width: 25px;
  }

  .printed {
    width: 25px;
  }

  .missing {
    .cell {
      color: $silver;
      font-style: italic;
    }
    .cell:last-child {
      text-align: center;
      width: calc(100% - 90px);
    }
  }
}
