$white: #FFFFFF;
$black: #000000;

// scheme
// http://pltts.me/palettes/723615

$scheme: (
#F4FAED,
#def5d5,
#9CECB7,
#40C0CB,
#00A8C6,
);

$background: nth($scheme, 1);
$foreground: readable($background, $white, $black);

$primary: nth($scheme, 5);
$secondary: nth($scheme, 4);
$subtle: nth($scheme, 2);
$selected: nth($scheme, 3);

$background_dark: darken($background, 5);
$background_light: lighten($background, 5);

$foreground_dark: darken($foreground, 30);
$foreground_light: lighten($foreground, 5);

$primary_dark: darken($primary, 5);
$primary_light: lighten($primary, 5);

$secondary_dark: darken($secondary, 5);
$secondary_light: lighten($secondary, 5);

$subtle_dark: mix(nth($scheme, 1), nth($scheme, 2), 80);
$subtle_light: mix(nth($scheme, 1), nth($scheme, 2), 50);

$selected_dark: darken($selected, 5);
$selected_light: lighten($selected, 5);
