h1.logo Invoiced
  span.glyphicons.shopping_cart
nav
  ul
    li.settings
      span.glyphicons.settings
      | Settings
    li.editor
      span.glyphicons.pen
      | Editor
    li.clients.active
      span.glyphicons.group
      | Clients
    li.invoices
      span.glyphicons.notes
      | Invoices
