doctype html
html(lang='en')

  head
    title Invoicer

    // stylesheets
    link(rel='stylesheet', href='css/main.css')

    // scripts
    script(src='libs/jquery.js')
    script(src='libs/jquery-ui.js')
    script(src='libs/underscore.js')
    script(src='libs/backbone.js')
    script(src='libs/backbone.marionette.js')
    script(src='libs/backbone.relational.js')
    script(src='js/init.js')

  body
    .header-container
    .page-container

