header {
  flex: 0 0 auto;
  order: 1;

  height: $header_height;
  line-height: $header_height;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: $foreground;
  background: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  display: inline-block;
  font-weight: 600;
  padding: 0 20px;
  cursor: pointer;
  box-sizing: border-box;
  height: 40px;

  span, span:before {
    color: $foreground;
  }

  &:hover {
    background: $subtle;
    border-bottom: 5px solid $selected;
  }
}
