// .editor-page

$details_width: 300px;
$header_height: 40px;
$app_background: $white;

& {
  display: flex;
  flex-direction: row;
  background: $app_background;
}

h3 {
  color: $wet_asphalt;
}

div, span {
  color: $wet_asphalt;
}


.details-container {
  flex: 1;
  order: 1;

  @extend #scroll;
  padding: 20px;

  .details {
    @import 'details';
  }
}

.editor-container {
  flex: 3;
  order: 2;

  display: flex;
  flex-direction: column;

  .header-container {
    order: 1;
    height: $header_height;
    line-height: $header_height;

    .header {
      @import 'header';
    }
  }

  .rows-container {
    flex: 1;
    order: 2;

    @extend #scroll;
    padding: 20px;
    padding-bottom: 200px;

    .rows {
      @import 'rows';
    }
  }


}
