.button-bar {
  background: $clouds;
  padding: 10px;
  border-radius: 4px;
}

button {
  cursor: pointer;
}

button[disabled] {
  background: $silver !important;
  color: $clouds !important;
}

button.primary {
  width: 100%;
  padding: 10px;
  background: $turquoise;
  border: 0;
  color: #fff;
  font-size: 16px;
  border-radius: 4px;
  @include transition(background 0.15s);

  &:hover {
    background: $green_sea;
  }
}

button.secondary {
  padding: 10px;
  background: $peter_river;
  color: $white;
  border-radius: 4px;
  border: 0;
  font-size: 14px;
  @include transition(background 0.15s);

  &:hover {
    background: $belize_hole;
  }
}

button.toggle-sidebar {
  padding: 10px;
  background: $concrete;
  color: $white;
  border-radius: 4px;
  border: 0;
  font-size: 14px;
  @include transition(background 0.15s);

  &:hover {
    background: $asbestos;
  }
}

button.new {
  padding: 10px;
  background: $wet_asphalt;
  color: $white;
  border-radius: 4px;
  border: 0;
  font-size: 16px;
  @include transition(background 0.15s);

  &:hover {
    background: $peter_river;
  }
}
