$sidebar_width: 300px;
$container_width: 800px;

.no-create-client .search {
  .create-client {
    left: -$sidebar_width
  }
  .container {
    margin-left: -$container_width / 2;
  }
}

.search {

  @include pos(0, 0, 0, 0);
  background: $midnight_blue;
  z-index: 5;
  overflow-y: hidden;

  .create-client {
    padding: 20px;
    @include pos(0, auto, 0, 0);
    width: $sidebar_width;
    background: $wet_asphalt;
    @include box-sizing(border-box);
    @include transition(left 0.5s);
  }

  .container {
    width: $container_width;
    @include pos(100px, auto, 20px, 50%);
    margin-left: -($container_width / 2) + ($sidebar_width / 2);
    overflow-y: hidden;
    @include transition(opacity 0.5s, margin 0.5s);
  }

  input[type=search] {
    display: block;
    border: 0;
    border-radius: 4px;
    padding: 20px; 
    font-size: 18px;
    width: 100%;
    @include box-sizing(border-box);
    border: 5px solid transparent;
    @include transition(border-color 0.15s);

    &:focus {
      border-color: $orange;
      outline: none;
    }
  }

  .clients, .invoices {
    width: 390px;
    @include pos(100px, 0, 0, 0);

    ul {
      @include pos(90px, 0, 0, 0);
      @include box-sizing(border-box);
      padding-right: 10px;
      overflow-y: auto;

      &::-webkit-scrollbar {
        width: 10px;
      }

      &::-webkit-scrollbar-track {
        border-radius: 10px;
        background: $wet_asphalt;
      }

      &::-webkit-scrollbar-thumb {
        background: $turquoise;
        border-radius: 10px;
      }
    }
  }

  .clients {
    right: auto;
  }

  .invoices {
    left: auto;
  }

  h1 {
    padding-bottom: 20px;
  }

  .container button {
    @include pos(10px, 0, auto , auto);
  }

  li {
    @extend .group;
    color: $white;
    background: $wet_asphalt;
    padding: 20px;
    border-radius: 4px;
    cursor: pointer;
    line-height: 24px;
    margin-bottom: 20px;
    @include transition(background 0.15s, color 0.15s);

    &.active, &:hover {
      color: $midnight_blue;
      background: $clouds;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .name {
    float: left;
  }

  .count {
    $height: 25px;
    float: right; 
    background: $midnight_blue;
    padding: 0 15px;
    height: $height;
    line-height: $height;
    border-radius: 4px;
    font-weight: bold;
    color: $white;
  }

  .address {
    clear: both;
  }

  .message {
    color: $turquoise;
    font-style: italic;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
  }

}
