.table {

  h2 {
    font-size: 20px;
    color: $concrete;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 4px solid $clouds;
  }

  ul {
    @include pos(100px, 20px, 100px, 20px);
    overflow-y: auto;
  }

  .button-bar {
    @include pos(auto, 20px, 20px, 20px);
  }

  li {
    margin-bottom: 10px;
    @extend .group;
  }

  input {
    width: calc(100% - 65px);
    height: 40px;
    font-size: 16px;
    border: 2px solid $turquoise;
    padding: 0 10px;
    box-sizing: border-box;
    border-radius: 4px;
    float: left;
  }

  input:focus {
    outline: 0;
    border-color: $belize_hole;
  }

  label {
    line-height: 40px;
    padding: 0 10px 0 9px;
    width: 90px;
  }

  .section {

    &:not(:first-child) {
      margin-top: 20px;
      border-top: 4px solid $clouds;
      padding-top: 20px;
    }

    label {
      float: left;
      border-radius: 4px;
      background: $clouds;
      color: $asbestos;
      font-weight: bold;
      text-align: center;
      margin-right: 10px;
    }

    input {
      float: left;
      width: calc(100% - 185px);
    }
  }

  .heading input {
    font-weight: bold;
    text-transform: uppercase;
  }

  .bullet {
    position:relative;

    input {
      margin-left: 30px;
      width: calc(100% - 95px);
    }

    &:before {
      $size: 10px;
      content: "";
      display: block;
      @include pos(15px, auto, auto, 7px);
      background: $concrete;
      width: $size;
      height: $size;
      border-radius: $size;
    }
  }
  
  .number {
    
    $label_width: 30px;

    position: relative;

    label {
      position: absolute;
      padding: 0;
      width: $label_width;
      text-align: center;
      color: $white;
      font-weight: bold;
    }

    input {
      border-left-width: $label_width;
      float: left;
      width: calc(100% - 65px);
    }
  }

  .handle {
    position: relative;
    background: $clouds;
    height: 20px;
    width: 20px;
    float: right;
    margin: 10px 5px 0 5px;
    cursor: pointer;
    @include transition(background 0.15s);

    &:hover {
      background: $concrete;
    }

    &:before, &:after {
      content: "";
      display: block;
      position: absolute;
      background: $white;
      width: 20px;
      height: 4px;
    }

    &:before {
      top: 4px;
    }

    &:after {
      top: 12px;
    }
  }

  .delete {
    float: right;
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background: $clouds;
    cursor: pointer;
    @include transition(background 0.15s);
    margin: 10px 5px 0 5px;

    &:hover {
      background: $carrot;
    }

    &:after, &:before {
      content: "";
      display: block;
      @include pos(9px, auto, auto, 5px);
      width: 10px;
      height: 2px;
      background: $white;
    }

    &:after {
      @include transform(rotate(45deg));
    }

    &:before {
      @include transform(rotate(-45deg));
    }
  }
}
