/* line 17, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/mixins.scss */
.group:after, .table li:after {
  content: "";
  display: table;
  clear: both;
}

/* line 7, ../sass/inc/forms.scss */
form input {
  width: 100%;
  height: 40px;
  padding: 0 10px;
  margin-bottom: 10px;
  border: 0;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
}
/* line 18, ../sass/inc/forms.scss */
form input:focus {
  outline: 0;
}
/* line 22, ../sass/inc/forms.scss */
form input::-webkit-input-placeholder {
  font-style: italic;
}

/* line 3, ../sass/inc/table.scss */
.table h2 {
  color: #333;
}
/* line 10, ../sass/inc/table.scss */
.table li {
  margin-bottom: 10px;
}
/* line 15, ../sass/inc/table.scss */
.table input {
  width: calc(100% - 30px);
  height: 40px;
  font-size: 16px;
  border: 2px solid #1abc9c;
  padding: 0 10px;
  box-sizing: border-box;
  border-radius: 4px;
  float: left;
}
/* line 26, ../sass/inc/table.scss */
.table input:focus {
  outline: 0;
  border-color: #2980b9;
}
/* line 31, ../sass/inc/table.scss */
.table label {
  line-height: 40px;
  padding: 0 10px 0 9px;
  width: 90px;
}
/* line 37, ../sass/inc/table.scss */
.table .new-section {
  background: #eee;
  border: 2px solid #2ecc71;
  border-radius: 4px;
  width: 300px;
}
/* line 43, ../sass/inc/table.scss */
.table .new-section label {
  float: left;
  background: #2ecc71;
  color: white;
  font-weight: bold;
  text-align: center;
}
/* line 51, ../sass/inc/table.scss */
.table .new-section input {
  float: left;
  width: calc(100% - 110px);
  border: 0;
}
/* line 58, ../sass/inc/table.scss */
.table .bold {
  font-weight: bold;
  background: #ecf0f1;
}
/* line 63, ../sass/inc/table.scss */
.table .caps {
  text-transform: uppercase;
}
/* line 67, ../sass/inc/table.scss */
.table .indent {
  margin-left: 50px;
  width: calc(100% - 50px);
}
/* line 72, ../sass/inc/table.scss */
.table .number {
  position: relative;
}
/* line 78, ../sass/inc/table.scss */
.table .number label {
  position: absolute;
  padding: 0;
  width: 30px;
  text-align: center;
  color: white;
  font-weight: bold;
}
/* line 87, ../sass/inc/table.scss */
.table .number input {
  border-left-width: 30px;
  float: left;
  width: calc(100% - 30px);
}
/* line 94, ../sass/inc/table.scss */
.table .handle {
  position: relative;
  background: #bdc3c7;
  height: 20px;
  width: 20px;
  float: right;
  margin: 10px 0 0 10px;
  cursor: pointer;
}
/* line 103, ../sass/inc/table.scss */
.table .handle:hover {
  background: #95a5a6;
}
/* line 107, ../sass/inc/table.scss */
.table .handle:before, .table .handle:after {
  content: "";
  display: block;
  position: absolute;
  background: white;
  width: 20px;
  height: 4px;
}
/* line 116, ../sass/inc/table.scss */
.table .handle:before {
  top: 4px;
}
/* line 120, ../sass/inc/table.scss */
.table .handle:after {
  top: 12px;
}

/* line 3, ../sass/inc/snippets.scss */
.snippets h2 {
  color: #2c3e50;
}
/* line 10, ../sass/inc/snippets.scss */
.snippets li {
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  line-height: 21px;
  color: #2c3e50;
  background: #e3e9eb;
  margin-bottom: 10px;
}
/* line 20, ../sass/inc/snippets.scss */
.snippets li:hover {
  background: #2c3e50;
  color: white;
}

/* line 1, ../sass/inc/buttons.scss */
.button-bar {
  background: #ecf0f1;
  padding: 10px;
  border-radius: 4px;
}

/* line 7, ../sass/inc/buttons.scss */
button {
  cursor: pointer;
}

/* line 11, ../sass/inc/buttons.scss */
button.primary {
  width: 100%;
  padding: 10px;
  background: #1abc9c;
  border: 0;
  color: #fff;
  font-size: 16px;
  border-radius: 4px;
  -webkit-transition: background 0.15s;
  -moz-transition: background 0.15s;
  -o-transition: background 0.15s;
  transition: background 0.15s;
}
/* line 21, ../sass/inc/buttons.scss */
button.primary:hover {
  background: #16a085;
}

/* line 26, ../sass/inc/buttons.scss */
button.secondary {
  padding: 10px;
  background: #3498d8;
  color: white;
  border-radius: 4px;
  border: 0;
  font-size: 14px;
  -webkit-transition: background 0.15s;
  -moz-transition: background 0.15s;
  -o-transition: background 0.15s;
  transition: background 0.15s;
}
/* line 35, ../sass/inc/buttons.scss */
button.secondary:hover {
  background: #2980b9;
}

/* line 40, ../sass/inc/buttons.scss */
button.toggle-sidebar {
  padding: 10px;
  background: #95a5a6;
  color: white;
  border-radius: 4px;
  border: 0;
  font-size: 14px;
  -webkit-transition: background 0.15s;
  -moz-transition: background 0.15s;
  -o-transition: background 0.15s;
  transition: background 0.15s;
}
/* line 49, ../sass/inc/buttons.scss */
button.toggle-sidebar:hover {
  background: #7f8c8d;
}

/* line 10, ../sass/screen.scss */
body, input, button {
  font-family: "Open Sans", sans-serif;
}

/* line 14, ../sass/screen.scss */
h1, h2, h3 {
  font-weight: bold;
}

/* line 18, ../sass/screen.scss */
h1 {
  font-size: 25px;
  margin: 20px 0;
  color: white;
  padding-bottom: 20px;
  border-bottom: 4px solid #34495e;
}

/* line 26, ../sass/screen.scss */
h2 {
  font-size: 16px;
  margin: 20px 0;
  color: white;
  text-transform: uppercase;
}

/* line 33, ../sass/screen.scss */
h3 {
  font-size: 15px;
}

/* line 37, ../sass/screen.scss */
hr {
  height: 4px;
  background: #34495e;
  border: 0;
  margin: 20px 0;
}

/* line 49, ../sass/screen.scss */
header {
  position: absolute;
  top: 0;
  right: 0;
  bottom: auto;
  left: 0;
  height: 0px;
  line-height: 0px;
  background: #1a242f;
  color: white;
}

/* line 57, ../sass/screen.scss */
section.details {
  position: absolute;
  top: 0px;
  right: auto;
  bottom: 0;
  left: 0;
  width: 300px;
  padding: 20px;
  box-sizing: border-box;
  background: #2c3e50;
  overflow-y: auto;
}

/* line 66, ../sass/screen.scss */
section.table {
  position: absolute;
  top: 0px;
  right: 300px;
  bottom: 0;
  left: 300px;
  padding: 20px;
  box-sizing: border-box;
  background: white;
  overflow-y: auto;
}

/* line 74, ../sass/screen.scss */
section.snippets {
  position: absolute;
  top: 0px;
  right: 0;
  bottom: 0;
  left: auto;
  width: 300px;
  background: #ecf0f1;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
}
