/* line 17, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, ../../source/sass/mixins.scss */
.group:after, .table li:after {
  content: "";
  display: table;
  clear: both;
}

/* line 7, ../../source/sass/inc/forms.scss */
form input {
  width: 100%;
  height: 40px;
  padding: 0 10px;
  margin-bottom: 10px;
  border: 0;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
}
/* line 18, ../../source/sass/inc/forms.scss */
form input:focus {
  outline: 0;
}
/* line 22, ../../source/sass/inc/forms.scss */
form input::-webkit-input-placeholder {
  font-style: italic;
}

/* line 3, ../../source/sass/inc/table.scss */
.table h2 {
  font-size: 20px;
  color: #95a5a6;
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 4px solid #ecf0f1;
}
/* line 11, ../../source/sass/inc/table.scss */
.table ul {
  position: absolute;
  top: 100px;
  right: 20px;
  bottom: 100px;
  left: 20px;
  overflow-y: auto;
}
/* line 16, ../../source/sass/inc/table.scss */
.table .button-bar {
  position: absolute;
  top: auto;
  right: 20px;
  bottom: 20px;
  left: 20px;
}
/* line 20, ../../source/sass/inc/table.scss */
.table li {
  margin-bottom: 10px;
}
/* line 25, ../../source/sass/inc/table.scss */
.table input {
  width: calc(100% - 65px);
  height: 40px;
  font-size: 16px;
  border: 2px solid #1abc9c;
  padding: 0 10px;
  box-sizing: border-box;
  border-radius: 4px;
  float: left;
}
/* line 36, ../../source/sass/inc/table.scss */
.table input:focus {
  outline: 0;
  border-color: #2980b9;
}
/* line 41, ../../source/sass/inc/table.scss */
.table label {
  line-height: 40px;
  padding: 0 10px 0 9px;
  width: 90px;
}
/* line 49, ../../source/sass/inc/table.scss */
.table .section:not(:first-child) {
  margin-top: 20px;
  border-top: 4px solid #ecf0f1;
  padding-top: 20px;
}
/* line 55, ../../source/sass/inc/table.scss */
.table .section label {
  float: left;
  border-radius: 4px;
  background: #ecf0f1;
  color: #7f8c8d;
  font-weight: bold;
  text-align: center;
  margin-right: 10px;
}
/* line 65, ../../source/sass/inc/table.scss */
.table .section input {
  float: left;
  width: calc(100% - 185px);
}
/* line 71, ../../source/sass/inc/table.scss */
.table .heading input {
  font-weight: bold;
  text-transform: uppercase;
}
/* line 76, ../../source/sass/inc/table.scss */
.table .bullet {
  position: relative;
}
/* line 79, ../../source/sass/inc/table.scss */
.table .bullet input {
  margin-left: 30px;
  width: calc(100% - 95px);
}
/* line 84, ../../source/sass/inc/table.scss */
.table .bullet:before {
  content: "";
  display: block;
  position: absolute;
  top: 15px;
  right: auto;
  bottom: auto;
  left: 7px;
  background: #95a5a6;
  width: 10px;
  height: 10px;
  border-radius: 10px;
}
/* line 96, ../../source/sass/inc/table.scss */
.table .number {
  position: relative;
}
/* line 102, ../../source/sass/inc/table.scss */
.table .number label {
  position: absolute;
  padding: 0;
  width: 30px;
  text-align: center;
  color: white;
  font-weight: bold;
}
/* line 111, ../../source/sass/inc/table.scss */
.table .number input {
  border-left-width: 30px;
  float: left;
  width: calc(100% - 65px);
}
/* line 118, ../../source/sass/inc/table.scss */
.table .handle {
  position: relative;
  background: #ecf0f1;
  height: 20px;
  width: 20px;
  float: right;
  margin: 10px 5px 0 5px;
  cursor: pointer;
  -webkit-transition: background 0.15s;
  -moz-transition: background 0.15s;
  -o-transition: background 0.15s;
  transition: background 0.15s;
}
/* line 128, ../../source/sass/inc/table.scss */
.table .handle:hover {
  background: #95a5a6;
}
/* line 132, ../../source/sass/inc/table.scss */
.table .handle:before, .table .handle:after {
  content: "";
  display: block;
  position: absolute;
  background: white;
  width: 20px;
  height: 4px;
}
/* line 141, ../../source/sass/inc/table.scss */
.table .handle:before {
  top: 4px;
}
/* line 145, ../../source/sass/inc/table.scss */
.table .handle:after {
  top: 12px;
}
/* line 150, ../../source/sass/inc/table.scss */
.table .delete {
  float: right;
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background: #ecf0f1;
  cursor: pointer;
  -webkit-transition: background 0.15s;
  -moz-transition: background 0.15s;
  -o-transition: background 0.15s;
  transition: background 0.15s;
  margin: 10px 5px 0 5px;
}
/* line 161, ../../source/sass/inc/table.scss */
.table .delete:hover {
  background: #e67e22;
}
/* line 165, ../../source/sass/inc/table.scss */
.table .delete:after, .table .delete:before {
  content: "";
  display: block;
  position: absolute;
  top: 9px;
  right: auto;
  bottom: auto;
  left: 5px;
  width: 10px;
  height: 2px;
  background: white;
}
/* line 174, ../../source/sass/inc/table.scss */
.table .delete:after {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 178, ../../source/sass/inc/table.scss */
.table .delete:before {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* line 3, ../../source/sass/inc/snippets.scss */
.snippets h2 {
  color: #2c3e50;
}
/* line 7, ../../source/sass/inc/snippets.scss */
.snippets ul {
  position: absolute;
  top: 100px;
  right: 20px;
  bottom: 100px;
  left: 20px;
  overflow-y: auto;
}
/* line 12, ../../source/sass/inc/snippets.scss */
.snippets .button-bar {
  position: absolute;
  top: auto;
  right: 20px;
  bottom: 20px;
  left: 20px;
}
/* line 16, ../../source/sass/inc/snippets.scss */
.snippets li {
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  line-height: 21px;
  color: #2c3e50;
  background: #e3e9eb;
  margin-bottom: 10px;
}
/* line 26, ../../source/sass/inc/snippets.scss */
.snippets li:hover {
  background: #2c3e50;
  color: white;
}

/* line 1, ../../source/sass/inc/buttons.scss */
.button-bar {
  background: #ecf0f1;
  padding: 10px;
  border-radius: 4px;
}

/* line 7, ../../source/sass/inc/buttons.scss */
button {
  cursor: pointer;
}

/* line 11, ../../source/sass/inc/buttons.scss */
button[disabled] {
  background: #bdc3c7 !important;
  color: #ecf0f1 !important;
}

/* line 16, ../../source/sass/inc/buttons.scss */
button.primary {
  width: 100%;
  padding: 10px;
  background: #1abc9c;
  border: 0;
  color: #fff;
  font-size: 16px;
  border-radius: 4px;
  -webkit-transition: background 0.15s;
  -moz-transition: background 0.15s;
  -o-transition: background 0.15s;
  transition: background 0.15s;
}
/* line 26, ../../source/sass/inc/buttons.scss */
button.primary:hover {
  background: #16a085;
}

/* line 31, ../../source/sass/inc/buttons.scss */
button.secondary {
  padding: 10px;
  background: #3498d8;
  color: white;
  border-radius: 4px;
  border: 0;
  font-size: 14px;
  -webkit-transition: background 0.15s;
  -moz-transition: background 0.15s;
  -o-transition: background 0.15s;
  transition: background 0.15s;
}
/* line 40, ../../source/sass/inc/buttons.scss */
button.secondary:hover {
  background: #2980b9;
}

/* line 45, ../../source/sass/inc/buttons.scss */
button.toggle-sidebar {
  padding: 10px;
  background: #95a5a6;
  color: white;
  border-radius: 4px;
  border: 0;
  font-size: 14px;
  -webkit-transition: background 0.15s;
  -moz-transition: background 0.15s;
  -o-transition: background 0.15s;
  transition: background 0.15s;
}
/* line 54, ../../source/sass/inc/buttons.scss */
button.toggle-sidebar:hover {
  background: #7f8c8d;
}

/* line 10, ../../source/sass/screen.scss */
body {
  overflow-x: hidden;
  -webkit-user-select: none;
  cursor: default;
}

/* line 18, ../../source/sass/screen.scss */
body, input, button {
  font-family: "Open Sans", sans-serif;
}

/* line 22, ../../source/sass/screen.scss */
h1, h2, h3 {
  font-weight: bold;
}

/* line 26, ../../source/sass/screen.scss */
h1 {
  font-size: 25px;
  margin: 20px 0;
  color: white;
  padding-bottom: 20px;
  border-bottom: 4px solid #34495e;
}

/* line 34, ../../source/sass/screen.scss */
h2 {
  font-size: 16px;
  margin: 20px 0;
  color: white;
  text-transform: uppercase;
}

/* line 41, ../../source/sass/screen.scss */
h3 {
  font-size: 15px;
}

/* line 45, ../../source/sass/screen.scss */
hr {
  height: 4px;
  background: #34495e;
  border: 0;
  margin: 20px 0;
}

/* line 57, ../../source/sass/screen.scss */
header {
  position: absolute;
  top: 0;
  right: 0;
  bottom: auto;
  left: 0;
  height: 0px;
  line-height: 0px;
  background: #1a242f;
  color: white;
}

/* line 65, ../../source/sass/screen.scss */
section.details {
  position: absolute;
  top: 0px;
  right: auto;
  bottom: 0;
  left: 0;
  width: 300px;
  padding: 20px;
  box-sizing: border-box;
  background: #2c3e50;
  overflow-y: auto;
}

/* line 74, ../../source/sass/screen.scss */
section.table {
  position: absolute;
  top: 0px;
  right: 300px;
  bottom: 0;
  left: 300px;
  padding: 20px;
  box-sizing: border-box;
  background: white;
  overflow-y: auto;
  -webkit-transition: right 0.5s;
  -moz-transition: right 0.5s;
  -o-transition: right 0.5s;
  transition: right 0.5s;
}

/* line 83, ../../source/sass/screen.scss */
section.snippets {
  position: absolute;
  top: 0px;
  right: 0;
  bottom: 0;
  left: auto;
  width: 300px;
  background: #ecf0f1;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
  -webkit-transition: right 0.5s;
  -moz-transition: right 0.5s;
  -o-transition: right 0.5s;
  transition: right 0.5s;
}

/* line 94, ../../source/sass/screen.scss */
.no-snippets section.snippets {
  right: -300px;
}
/* line 97, ../../source/sass/screen.scss */
.no-snippets section.table {
  right: 0;
}
