html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

.group:after, .table li:after, .search li:after {
  content: "";
  display: table;
  clear: both; }

header h1 {
  margin: 0 0 0 20px;
  float: left; }
header nav {
  float: right;
  font-size: 0; }
header button.nav {
  height: 50px;
  padding: 0 30px;
  background: transparent;
  color: white;
  border: 0;
  font-size: 14px;
  margin: 0;
  -webkit-transition: background 0.15s;
  -moz-transition: background 0.15s;
  -o-transition: background 0.15s;
  transition: background 0.15s; }
header button.nav:hover {
  background: #34495e; }
header button.nav:last-child {
  border-right: 0; }
header button.nav.button-open:hover {
  background: #27ae60; }
header button.nav.button-generate:hover {
  background: #e67e22; }
header button.nav.button-save:hover {
  background: #8e44ad; }
header .button-save.pending {
  position: relative; }
header .button-save.pending:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: #e67e22;
  height: 6px; }

form label {
  color: white;
  line-height: 30px; }
form input {
  width: 100%;
  height: 40px;
  padding: 0 10px;
  margin-bottom: 10px;
  border: 0;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box; }
form input:focus {
  outline: 0; }
form input::-webkit-input-placeholder {
  font-style: italic; }

.table h2 {
  font-size: 20px;
  color: #95a5a6;
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 4px solid #ecf0f1; }
.table ul {
  position: absolute;
  top: 100px;
  right: 20px;
  bottom: 100px;
  left: 20px;
  overflow-y: auto; }
.table .button-bar {
  position: absolute;
  top: auto;
  right: 20px;
  bottom: 20px;
  left: 20px; }
.table li {
  margin-bottom: 10px; }
.table input {
  width: calc(100% - 95px);
  height: 40px;
  font-size: 16px;
  border: 2px solid #1abc9c;
  padding: 0 10px;
  box-sizing: border-box;
  border-radius: 4px;
  float: left; }
.table input:focus {
  outline: 0;
  border-color: #2980b9; }
.table label {
  line-height: 40px;
  padding: 0 10px 0 9px;
  width: 90px; }
.table .section:not(:first-child) {
  margin-top: 20px;
  border-top: 4px solid #ecf0f1;
  padding-top: 20px; }
.table .section label {
  float: left;
  border-radius: 4px;
  background: #ecf0f1;
  color: #7f8c8d;
  font-weight: bold;
  text-align: center;
  margin-right: 10px; }
.table .section input {
  float: left;
  width: calc(100% - 215px); }
.table .heading input {
  font-weight: bold;
  text-transform: uppercase; }
.table .bullet {
  position: relative; }
.table .bullet input {
  margin-left: 30px;
  width: calc(100% - 125px); }
.table .bullet:before {
  content: "";
  display: block;
  position: absolute;
  top: 15px;
  right: auto;
  bottom: auto;
  left: 7px;
  background: #95a5a6;
  width: 10px;
  height: 10px;
  border-radius: 10px; }
.table .number {
  position: relative; }
.table .number label {
  position: absolute;
  padding: 0;
  width: 30px;
  text-align: center;
  color: white;
  font-weight: bold; }
.table .number input {
  border-left-width: 30px;
  float: left;
  width: calc(100% - 95px); }
.table .style {
  position: relative;
  background: #ecf0f1;
  height: 20px;
  width: 20px;
  float: right;
  margin: 10px 5px 0 5px;
  cursor: pointer;
  -webkit-transition: background 0.15s;
  -moz-transition: background 0.15s;
  -o-transition: background 0.15s;
  transition: background 0.15s; }
.table .style:hover {
  background: #95a5a6; }
.table .handle {
  position: relative;
  background: #ecf0f1;
  height: 20px;
  width: 20px;
  float: right;
  margin: 10px 5px 0 5px;
  cursor: pointer;
  -webkit-transition: background 0.15s;
  -moz-transition: background 0.15s;
  -o-transition: background 0.15s;
  transition: background 0.15s; }
.table .handle:hover {
  background: #95a5a6; }
.table .handle:before, .table .handle:after {
  content: "";
  display: block;
  position: absolute;
  background: white;
  width: 20px;
  height: 4px; }
.table .handle:before {
  top: 4px; }
.table .handle:after {
  top: 12px; }
.table .delete {
  float: right;
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background: #ecf0f1;
  cursor: pointer;
  -webkit-transition: background 0.15s;
  -moz-transition: background 0.15s;
  -o-transition: background 0.15s;
  transition: background 0.15s;
  margin: 10px 5px 0 5px; }
.table .delete:hover {
  background: #e67e22; }
.table .delete:after, .table .delete:before {
  content: "";
  display: block;
  position: absolute;
  top: 9px;
  right: auto;
  bottom: auto;
  left: 5px;
  width: 10px;
  height: 2px;
  background: white; }
.table .delete:after {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }
.table .delete:before {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.snippets h2 {
  color: #2c3e50; }
.snippets ul {
  position: absolute;
  top: 100px;
  right: 20px;
  bottom: 100px;
  left: 20px;
  overflow-y: auto; }
.snippets .button-bar {
  position: absolute;
  top: auto;
  right: 20px;
  bottom: 20px;
  left: 20px; }
.snippets li {
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  line-height: 21px;
  color: #2c3e50;
  background: #e3e9eb;
  margin-bottom: 10px; }
.snippets li:hover {
  background: #2c3e50;
  color: white; }
.snippets .delete {
  float: right;
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background: #ecf0f1;
  cursor: pointer;
  -webkit-transition: background 0.15s;
  -moz-transition: background 0.15s;
  -o-transition: background 0.15s;
  transition: background 0.15s;
  margin: 10px 5px 0 5px; }
.snippets .delete:hover {
  background: #e67e22; }
.snippets .delete:after, .snippets .delete:before {
  content: "";
  display: block;
  position: absolute;
  top: 9px;
  right: auto;
  bottom: auto;
  left: 5px;
  width: 10px;
  height: 2px;
  background: white; }
.snippets .delete:after {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }
.snippets .delete:before {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.button-bar {
  background: #ecf0f1;
  padding: 10px;
  border-radius: 4px; }

button {
  cursor: pointer; }

button[disabled] {
  background: #bdc3c7 !important;
  color: #ecf0f1 !important; }

button.primary {
  width: 100%;
  padding: 10px;
  background: #1abc9c;
  border: 0;
  color: #fff;
  font-size: 16px;
  border-radius: 4px;
  -webkit-transition: background 0.15s;
  -moz-transition: background 0.15s;
  -o-transition: background 0.15s;
  transition: background 0.15s; }
button.primary:hover {
  background: #16a085; }

button.secondary {
  padding: 10px;
  background: #3498d8;
  color: white;
  border-radius: 4px;
  border: 0;
  font-size: 14px;
  -webkit-transition: background 0.15s;
  -moz-transition: background 0.15s;
  -o-transition: background 0.15s;
  transition: background 0.15s; }
button.secondary:hover {
  background: #2980b9; }

button.toggle-sidebar {
  padding: 10px;
  background: #95a5a6;
  color: white;
  border-radius: 4px;
  border: 0;
  font-size: 14px;
  -webkit-transition: background 0.15s;
  -moz-transition: background 0.15s;
  -o-transition: background 0.15s;
  transition: background 0.15s; }
button.toggle-sidebar:hover {
  background: #7f8c8d; }

button.dark {
  padding: 10px;
  background: #34495e;
  color: white;
  border-radius: 4px;
  border: 0;
  font-size: 16px;
  -webkit-transition: background 0.15s;
  -moz-transition: background 0.15s;
  -o-transition: background 0.15s;
  transition: background 0.15s; }
button.dark:hover {
  background: #3498d8; }

.search {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #2c3e50;
  z-index: 5;
  overflow-y: hidden; }
.search .container {
  width: 800px;
  position: absolute;
  top: 100px;
  right: auto;
  bottom: 20px;
  left: 50%;
  margin-left: -250px;
  overflow-y: hidden;
  -webkit-transition: opacity 0.5s, margin 0.5s;
  -moz-transition: opacity 0.5s, margin 0.5s;
  -o-transition: opacity 0.5s, margin 0.5s;
  transition: opacity 0.5s, margin 0.5s; }
.search input[type=search] {
  display: block;
  border: 0;
  border-radius: 4px;
  padding: 20px;
  font-size: 18px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 5px solid transparent;
  -webkit-transition: border-color 0.15s;
  -moz-transition: border-color 0.15s;
  -o-transition: border-color 0.15s;
  transition: border-color 0.15s; }
.search input[type=search]:focus {
  border-color: #f39c12;
  outline: none; }
.search .clients, .search .invoices {
  width: 390px;
  position: absolute;
  top: 100px;
  right: 0;
  bottom: 0;
  left: 0; }
.search .clients ul, .search .invoices ul {
  position: absolute;
  top: 90px;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 10px;
  overflow-y: auto; }
.search .clients ul::-webkit-scrollbar, .search .invoices ul::-webkit-scrollbar {
  width: 10px; }
.search .clients ul::-webkit-scrollbar-track, .search .invoices ul::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #34495e; }
.search .clients ul::-webkit-scrollbar-thumb, .search .invoices ul::-webkit-scrollbar-thumb {
  background: #1abc9c;
  border-radius: 10px; }
.search .clients {
  right: auto; }
.search .invoices {
  left: auto; }
.search .clients:after, .search .invoices:after {
  content: "";
  display: block;
  position: absolute;
  top: 65px;
  left: 0;
  right: 0;
  height: 4px;
  background: #34495e; }
.search h1 {
  padding-bottom: 20px;
  float: left; }
.search .container button {
  float: right; }
.search li {
  color: white;
  background: #34495e;
  padding: 20px;
  border-radius: 4px;
  cursor: pointer;
  line-height: 24px;
  margin-bottom: 20px;
  -webkit-transition: background 0.15s, color 0.15s;
  -moz-transition: background 0.15s, color 0.15s;
  -o-transition: background 0.15s, color 0.15s;
  transition: background 0.15s, color 0.15s; }
.search li.active, .search li:hover {
  color: #2c3e50;
  background: #ecf0f1; }
.search li:last-child {
  margin-bottom: 0; }
.search .name {
  float: left; }
.search .count {
  float: right;
  background: #2c3e50;
  padding: 0 15px;
  height: 25px;
  line-height: 25px;
  border-radius: 4px;
  font-weight: bold;
  color: white; }
.search .address {
  clear: both; }
.search .message {
  color: #1abc9c;
  font-style: italic;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  margin-top: 20px; }
.search.delete-mode .delete {
  background: #c0392b; }
.search.delete-mode li:hover {
  background: #c0392b;
  color: white; }

.client-details {
  background: #34495e;
  padding: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 4px; }
.client-details h2 {
  margin-top: 0; }
.client-details .client-name {
  font-weight: bold; }
.client-details div {
  color: white;
  line-height: 21px; }

.create-client {
  padding: 20px;
  position: absolute;
  top: 0;
  right: auto;
  bottom: 0;
  left: 0;
  width: 300px;
  background: #34495e;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: left 0.5s;
  -moz-transition: left 0.5s;
  -o-transition: left 0.5s;
  transition: left 0.5s;
  z-index: 6; }

.invoice-records {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  padding: 20px;
  background: #34495e;
  z-index: 7; }
.invoice-records table {
  width: 100%; }
.invoice-records thead tr {
  border-bottom: 4px solid #2c3e50; }
.invoice-records th {
  font-weight: bold; }
.invoice-records th, .invoice-records td {
  color: white;
  padding: 0 10px;
  line-height: 50px; }
.invoice-records tr:nth-child(2n) {
  background: #3d566e; }
.invoice-records .missing td {
  color: #bdc3c7;
  font-style: italic; }
.invoice-records .missing td:last-child {
  text-align: center; }

body {
  overflow-x: hidden;
  -webkit-user-select: none;
  cursor: default; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

body, input, button {
  font-family: "Open Sans", sans-serif; }

h1, h2, h3 {
  font-weight: bold; }

h1 {
  font-size: 25px;
  margin: 20px 0;
  color: white;
  padding-bottom: 20px;
  border-bottom: 4px solid #34495e; }

h2 {
  font-size: 16px;
  margin: 20px 0;
  color: white;
  text-transform: uppercase; }

h3 {
  font-size: 15px; }

hr {
  height: 4px;
  background: #34495e;
  border: 0;
  margin: 20px 0; }

header {
  position: absolute;
  top: 0;
  right: 0;
  bottom: auto;
  left: 0;
  height: 50px;
  line-height: 50px;
  background: #1a242f;
  color: white; }

section.details {
  position: absolute;
  top: 50px;
  right: auto;
  bottom: 0;
  left: 0;
  width: 300px;
  padding: 20px;
  box-sizing: border-box;
  background: #2c3e50;
  overflow-y: auto; }

section.table {
  position: absolute;
  top: 50px;
  right: 300px;
  bottom: 0;
  left: 300px;
  padding: 20px;
  box-sizing: border-box;
  background: white;
  overflow-y: auto;
  -webkit-transition: right 0.5s;
  -moz-transition: right 0.5s;
  -o-transition: right 0.5s;
  transition: right 0.5s; }

section.snippets {
  position: absolute;
  top: 50px;
  right: 0;
  bottom: 0;
  left: auto;
  width: 300px;
  background: #ecf0f1;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
  -webkit-transition: right 0.5s;
  -moz-transition: right 0.5s;
  -o-transition: right 0.5s;
  transition: right 0.5s; }

.no-snippets section.snippets {
  right: -300px; }
.no-snippets section.table {
  right: 0; }

.no-create-client .create-client {
  left: -300px; }
.no-create-client .search .container {
  margin-left: -400px; }
