// .clients-container > .clients

$height: 70px;

& {
  @include pos(0, 0, 0, 0);
}

header {
  @include pos(0, 0, auto, 0);
  height: $height;

  h2 {
    margin: 0;
    @include pos(0, auto, auto, 0);
  }

  button {
    float: right;
  }
}

.client-collection {
  @include pos($height, 0, 0, 0);
  overflow-y: scroll;
  overflow-x: hidden;

  .client {
    @import 'client';
  }
}

