// .invoices-container > .invoices

$height: 70px;
$edit_height: $height + 140px;

& {
  @include pos(0, 0, 0, 0);
}

&.edit {
  header {
    height: $edit_height;
  }
  .editor {
    display: block;
  }
  .invoice-collection {
    top: $edit_height + 40px;
  }
}

header {
  @include pos(0, 0, auto, 0);
  height: $height;

  h2 {
    margin: 0;
    @include pos(0, auto, auto, 0);
  }

  p {
    @include pos(40px, auto, auto, 0);
    margin: 0;
    font-size: 12px;
    line-height: 10px;

    span {
      color: rgba(#fff, 0.6);
    }

    span:not(:last-child):after {
      content: '•';
      margin: 0 8px;
    }
  }

  & > button {
    float: right;
  }

  .editor {
    display: none;
    @include pos($height, 0, 0, 0);
    height: $edit_height - $height;
    background: darken($app_background, 10);
    padding: 10px 0;

    label {
      display: inline-block;
      width: 100px;
      text-align: right;
      margin-right: 10px;
      font-weight: 700;
    }

    input {
      border: 0;
      width: 250px;
      line-height: 20px;
      padding: 10px 10px;
      margin-bottom: 10px;
      outline: 0;
      color: $black;
      background: $clouds;
    }

    input:focus {
      background: $white;
    }

    button:first-of-type {
      margin-left: 110px;
    }

  }
}

.invoice-collection {
  @extend #scroll;
  @include pos($height, 0, 0, 0);

  .invoice {
    @import 'invoice';
  }
}
