// .invoices-container > .invoices

$height: 70px;
$edit_height: $height + 140px;

& {
  display: flex;
  flex-direction: column;
}

&.edit {
  .editor {
    display: block;
  }
}

header {
  order: 1;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-bottom: 20px;

  h2 {
    margin: 0 0 5px;
    line-height: 25px;
  }

  p {
    margin: 0;

    span {
      color: rgba(#fff, 0.6);
      font-size: 12px;
      line-height: 18px;
    }

    span:not(:last-child):after {
      content: '•';
      margin: 0 8px;
    }
  }

  & > button {
    float: right;
  }

}

.editor {
  order: 2;
  display: none;
  background: darken($app_background, 10);
  padding: 10px 0;
  margin-bottom: 20px;

  .row {
    display: flex;
    margin-bottom: 10px;
    padding-right: 10px;
  }

  label {
    display: block;
    width: 80px;
    text-align: right;
    margin-right: 10px;
    font-weight: 700;
    line-height: 40px;
  }

  input {
    flex: 1;
    display: block;
    border: 0;
    line-height: 20px;
    padding: 10px 10px;
    outline: 0;
    color: $black;
    background: $clouds;

    &:focus {
      background: $white;
    }
  }


  .buttons {
    margin-left: 85px;
  }
}

.invoice-collection {
  flex: 1;
  order: 3;
  @extend #scroll;

  .invoice {
    @import 'invoice';
  }
}
