// .invoices-container > .invoices > .invoice-collection > .invoice

$space: 5px;
$meta_height: 40px;
$customer_height: 50px;

$background: #3c546b;

& {
  margin-bottom: $space * 5;
}

.meta {
  display: flex;
  flex-direction: row;

  background: $background;
  line-height: $meta_height;
  margin-bottom: $space;

  div {
    padding: 0 20px;
  }

  .id {
    order: 1;
    border-right: $space solid $app_background;
  }

  .created {
    order: 2;
  }

  .updated {
    flex: 1;
    order: 3;
    border-left: $space solid $app_background;
  }

  .paid-status {
    order: 4;
    border-left: $space solid $app_background;
    font-weight: 600;
  }
}

.customer {
  background: $background;
  padding: 10px 20px;
  
  display: flex;
  flex-direction: row;

  .primary {
    order: 1;
    flex: 1;

      h3 {
        margin: 0;
      }

      h5 {
        margin: 0;
      }
  }

  .secondary {
    order: 2;
    flex: 1;

    .email {
    }

    .date {
    }
  }

  .price {
    order: 3;
    line-height: $customer_height;
  }
}
