// .invoices-container > .invoices

$height: 70px;

& {
  @include pos(0, 0, 0, 0);
}

header {
  @include pos(0, 0, auto, 0);
  height: $height;

  h2 {
    margin: 0;
    @include pos(0, auto, auto, 0);
  }

  p {
    @include pos(40px, auto, auto, 0);
    margin: 0;
    font-size: 12px;
    line-height: 10px;
    color: rgba(#fff, 0.6);

    span:not(:last-child):after {
      content: '•';
      margin: 0 8px;
    }
  }

  button {
    float: right;
  }
}

.invoice-collection {
  @include pos($height, 0, 0, 0);
  overflow-y: scroll;
  overflow-x: hidden;

  .invoice {
    @import 'invoice';
  }
}
