$padding: 20px;

& {
  display: flex;
  padding: $padding;
  flex-direction: row;
}

.clients-container {
  flex: 1;
  order: 1;

  display: flex;

  .clients {
    flex: 1;
    @import "clients";
  }
}

.invoices-container {
  flex: 2;
  order: 2;

  display: flex;
  margin-left: $padding;

  .invoices {
    flex: 1;
    @import "invoices";
  }
}
