// .page-editor > .details-container > .details

h3 {
  margin-top: 30px;
  margin-bottom: 0;

  &:first-of-type {
    margin-top: 0;
  }
}

.control {
  margin-bottom: 10px;
}

label {
  display: block;
  color: $peter_river;
  font-weight: 600;
  line-height: 25px;
}

input {
  border: 0;
  background: $clouds;
  color: $wet_asphalt;
  width: 100%;
  padding: 5px 5px;
  outline: 0;
  box-sizing: border-box;

  &:focus {
    background: $white;
    outline: 2px solid $peter_river;
  }
}
