// .editor-page > .header-container > .header

& {
  @extend #group;
  background: darken($wet_asphalt, 5);
}

ul {
  margin: 0;
  padding: 0;

  &.rows {
    float: left;
  }

  &.invoice {
    float: right;
  }
}

li {
  list-style-type: none;
  display: inline-block;
  font-weight: 600;
  padding: 0 20px;
  cursor: pointer;

  &:hover {
    background: $wet_asphalt;
    box-shadow: inset 0 -5px 0 $green_sea;
  }
}
