header
  h2 Clients
  button New Client

.client-collection

  .client.unpaid
    h3 Clark Kent
    p
      span.address Daily Planet
      span.city Metropolis
      span.postcode 1234
    .invoices-count.number 4

  .client.active
    h3 Basil Fawlty 
    p
      span.address Fawlty Towers
      span.city Torquay
      span.postcode 1234
    .invoices-count.number 2

  .client.unpaid
    h3 Clark Kent
    p
      span.address Daily Planet
      span.city Metropolis
      span.postcode 1234
    .invoices-count.number 4

  .client.selected
    h3 Tulio & Miguel
    p
      span.address The Temple
      span.city El Dorado
      span.postcode 1234
    .invoices-count.number 0

  .client
   h3 Clark Kent
    p
      span.address Daily Planet
      span.city Metropolis
      span.postcode 1234
    .invoices-count.number 0

  .client.unpaid
    h3 Clark Kent
    p
      span.address Daily Planet
      span.city Metropolis
      span.postcode 1234
    .invoices-count.number 1

  .client
    h3 Clark Kent
    p
      span.address Daily Planet
      span.city Metropolis
      span.postcode 1234
    .invoices-count.number 0

  .client
    h3 Clark Kent
    p
      span.address Daily Planet
      span.city Metropolis
      span.postcode 1234
    .invoices-count.number 1

  .client
    h3 Clark Kent
    p
      span.address Daily Planet
      span.city Metropolis
      span.postcode 1234
    .invoices-count.number 1
