header
  .id.number
    = id

  .created
    span.halflings.calendar
    = moment(date).format('Do MMMM YYYY')

  .paid-status
    span.halflings.remove
    | Not Paid

.customer

  .primary

    h3
      = customer

    h5
      = site

  .price.number
    = numeral(cost).format('$0,0.00')
