header
  h2= name
  p
    span.address= address
    span.city= city
    span.postcode= postcode

  button.primary(type="button")
    span.halflings.plus-sign
    | New Invoice
  button(type="button")
    span.halflings.pencil
    | Edit Client Details

.invoice-collection

  // section
  //   h4 Not Paid: 2

  // section
  //   h4 Paid: 10
