header
  h2 Basil Fawlty
  p
    span.address Daily Planet
    span.city Metropolis
    span.postcode 1234

  button Edit Client Details
  button New Invoice

.invoice-collection

  section
    h4 Not Paid: 2

    .invoice
      .meta
        .id.number 7503
        .created Created: 13th November 2013
        .paid-status Not Paid
      .customer
        h3 Mrs. Richards
        h5 Flood Restoration: 13 Devon Street
        .email mrs.richards@gmail.com
        .date 1st November 2013
        .price.number $241.17

    .invoice
      .meta
        .id.number 7503
        .created Created: 13th November 2013
        .paid-status Not Paid
      .customer
        h3 Mrs. Richards
        h5 Flood Restoration: 13 Devon Street
        .email mrs.richards@gmail.com
        .date 1st November 2013
        .price.number $241.17

  section
    h4 Paid: 10

    .invoice
      .meta
        .id.number 7624
        .created Created: 30th August 2013
        .paid-status Paid: 26th September 2013
      .customer
        h3 Manuel
        h5 Carpet Cleaning: 17 Ranolf Street
        .email manuel@gmail.com
        .date 2nd August 2013
        .price.number $120.00

