.meta
  .id.number
    = id

  .created
    span.halflings.inbox
    = 'Created: ' + moment(dateCreated).format('Do MMMM YYYY')

  // .updated
  //   span.halflings.inbox
  //   = 'Last Updated: ' + moment(dateUpdated).format('Do MMMM YYYY')

  button.paid-status
    span.halflings.remove
    | Not Paid

.customer

  h3
    = customer

  h5
    = site

  if email
    .email
      span.halflings.envelope
      = email

  .date
    span.halflings.calendar
    = moment(date).format('Do MMMM YYYY')
  .price.number
    = numeral(cost).format('$0,0.00')
