h3 Invoice

.control
  label Invoice ID
  input(type='number')

.control
  label Created At
  input(type='date')

h3 Customer

.control
  label Customer Name
  input(type='text')

.control
  label Site
  input(type='text')

.control
  label Email
  input(type='email')

h3 Cost

.control
  label Airmover Hire
  input(type='number')

.control
  label Travel
  input(type='number')

.control
  label Total
  input(type='number')


