span.bullet= index
input(type='text', value=content)
button.switch-type(type='button', tabindex='-1')
  span.halflings.refresh
button.primary.delete(type='button', tabindex='-1')
  span.halflings.remove
