.search {

  @include pos(0, 0, 0, 0);
  background: $midnight_blue;
  z-index: 5;
  overflow-y: hidden;

  .container {
    width: $search_width;
    @include pos(100px, auto, 20px, 50%);
    margin-left: -($search_width / 2) + ($create_client_width / 2);
    overflow-y: hidden;
    transition: opacity 0.5s, margin 0.5s;
  }

  input[type=search] {
    display: block;
    border: 0;
    border-radius: 4px;
    padding: 20px; 
    font-size: 18px;
    width: 100%;
    box-sizing: border-box;
    border: 5px solid transparent;
    transition: border-color 0.15s;

    &:focus {
      border-color: $orange;
      outline: none;
    }
  }

  .clients, .invoices {
    width: 390px;
    @include pos(100px, 0, 0, 0);

    ul {
      @include pos(90px, 0, 0, 0);
      box-sizing: border-box;
      padding-right: 10px;
      overflow-y: auto;

      &::-webkit-scrollbar {
        width: 10px;
      }

      &::-webkit-scrollbar-track {
        border-radius: 10px;
        background: $wet_asphalt;
      }

      &::-webkit-scrollbar-thumb {
        background: $turquoise;
        border-radius: 10px;
      }
    }
  }

  .clients {
    right: auto;
  }

  .invoices {
    left: auto;
  }

  .clients:after,
  .invoices:after {
    content: "";
    display: block;
    position: absolute;
    top: 65px;
    left: 0;
    right: 0;
    height: 4px;
    background: $wet_asphalt;
  }

  h1 {
    padding-bottom: 20px;
    float: left;
  }

  .container button {
    float: right;
  }

  li {
    @extend .group;
    color: $white;
    background: $wet_asphalt;
    padding: 20px;
    border-radius: 4px;
    cursor: pointer;
    line-height: 24px;
    margin-bottom: 20px;
    transition: background 0.15s, color 0.15s;

    &.active, &:hover {
      color: $midnight_blue;
      background: $clouds;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .name {
    float: left;
  }

  .count {
    $height: 25px;
    float: right; 
    background: $midnight_blue;
    padding: 0 15px;
    height: $height;
    line-height: $height;
    border-radius: 4px;
    font-weight: bold;
    color: $white;
  }

  .address {
    clear: both;
  }

  .message {
    color: $turquoise;
    font-style: italic;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
  }

  &.delete-mode {
    .delete {
      background: $pomegranate;
    }
    li:hover {
      background: $pomegranate;
      color: $white;
    }
  }

}
