body {
  overflow-x: hidden;
  user-select: none;
  cursor: default;
  background: $background;

  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;

  display: flex;
}

.app {
  min-height: 0;
  flex: 1;

  display: flex;
  flex-direction: column;

  & > header {
    @import 'header';
  }

  & > .modal {
    @import 'modal';
  }
}

.page-container {
  min-height: 0;
  order: 2;
  flex: 1;
  display: flex;
}

.page-clients {
  min-height: 0;
  flex: 1;
  @import 'clients/layout';
}

.page-editor {
  min-height: 0;
  flex: 1;
  @import 'editor/layout';
}

.page-settings {
  min-height: 0;
  flex: 1;
  @import 'settings/layout';
}
