$color: readable($primary, $foreground, $background);

& {
  height: $header_height;
  line-height: $header_height;
  background: $primary;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.glyphicons:before {
  color: $color;
}

h1 {
  order: 1;
  padding: 0;
  margin: 0 0 0 20px;
  color: $color;

  .glyphicons {
    margin-left: 14px;
  }
}

nav {
  flex: 1;
  order: 2;
  max-width: 600px;

  display: flex;
  flex-direction: row;

  & > div {
    flex: 1;

    text-decoration: none;
    cursor: pointer;

    padding: 0 25px;
    text-align: center;

    span {
      color: $color;
      font-size: 16px;
      font-weight: 700;
    }

    &:hover {
      background: $primary_dark;
    }

    &.active {
      background: $primary_light;
      border-bottom: 5px solid $background;
    }
  }

}
