.halflings:before, .glyphicons:before {
  color: $foreground;
}

.glyphicons {
  line-height: 30px;
  height: 30px;
  padding-left: 35px;
}

.halflings {
  line-height: 17px;
  height: 17px;
  padding-left: 22px;
  color: inherit;
}
