// .editor-page > .header-container > .header

& {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: $foreground;
  background: $subtle_dark;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  display: inline-block;
  font-weight: 600;
  padding: 0 20px;
  cursor: pointer;
  box-sizing: border-box;
  height: 40px;

  span, span:before {
    color: $foreground;
  }

  &:hover {
    background: $background;
    border-bottom: 5px solid $selected;
  }
}
