// .page-editor > .rows-container > .rows

$padding: 10px;

.row {
  display: flex;
  flex-direction: row;

  margin-bottom: 5px;
  line-height: 20px;

   span.bullet {
    background: $subtle;
    color: $foreground;
    padding: 10px 10px;
    box-sizing: border-box;
    width: 40px;
    text-align: center;
    font-weight: 700;
    border-right: 5px solid $background;
  }

  input {
    flex: 1;
    border: 0;
    outline: 0;
    padding: $padding - 2px;
    border: 2px solid $subtle;
    font-size: 14px;
    background: $subtle;
    color: $foreground;

    &:focus {
      border-color: $selected;
    }
  }

  button {
    margin-left: 5px;
    padding: 0;
    width: 40px;
    background: none;
    box-shadow: inset 0 0 0 2px $subtle;

    span {
      padding-left: 0;
      width: 10px;
    }

    span:before {
      color: $secondary;
    }

    &:hover {
      background: $primary;

      span:before {
        color: $background;
      }
    }
  }

}

.row.date {
  margin-top: 30px;
  padding-bottom: 2px;
  justify-content: space-between;

  span {
    background: none;
    color: $primary;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 40px;
  }

  input {
    flex: none;
    background: none;
    color: $foreground;
    border-color: transparent;
    padding: 0 0 0 10px;
  }

  .fill {
    flex: 1;
  }

  input:focus {
    border-color: $selected;
  }

}

.row.heading {
  input {
    font-weight: 700;
    text-transform: uppercase;
  }
}

.row.bullet {
  span.bullet {
    background: none;
    color: $foreground;
    font-size: 20px;
  }
}
