h1.logo Invoiced
  span.glyphicons.shopping_cart
nav
  a.settings(href='#settings')
    span.glyphicons.settings
    | Settings
  a.editor(href='#editor')
    span.glyphicons.pen
    | Editor
  a.clients.active(href='#clients')
    span.glyphicons.group
    | Clients
  a.invoices(href='#invoices')
    span.glyphicons.notes
    | Invoices
