body {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5 {
  color: $white;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 16px;
}

h4 {
  font-size: 13px;
  text-transform: uppercase;
}

h5 {
  font-size: 14px;
  font-weight: 600;
}

.number {
  font-family: 'Inconsolata', monospace;
  font-weight: 700;
  font-size: 20px;
  color: $white;
}

div {
  color: $white;
  font-size: 13px;
}
