// .invoice-list .invoices .invoice-item

$meta_height: 40px;
$customer_height: 50px;

& {
  margin-bottom: 5px;
  cursor: pointer;
}

&:hover {
  .meta, .customer {
    background: $subtle_light;
  }
}

&.active {
  .meta {
    background: $selected_light;
  }
  .customer {
    background: $selected;
  }
  h3, h5, div, span, .halflings::before {
    color: readable($selected, $foreground, $background) !important;
  }
}

.meta {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  line-height: $meta_height;
  background: $subtle_light;

  span {
    color: $foreground;
  }

  div {
    padding: 0 15px;
  }

  h3 {
    order: 1;
    margin: 0;
    padding: 0 15px;
  }

  .created {
    order: 2;
    flex: 1;
  }

  .paid-status {
    order: 3;
    font-weight: 600;
  }
}

.customer {
  background: $subtle;
  padding: 10px 20px;
  
  display: flex;
  flex-direction: row;

  .primary {
    order: 1;
    flex: 1;

      h3 {
        margin: 0;
        line-height: 26px;
        color: $primary;
      }

      h5 {
        margin: 0;
        color: $secondary_dark;
      }
  }

  .secondary {
    order: 2;
    flex: 1;
  }

  .price {
    order: 3;
    line-height: $customer_height;
  }
}
