// .invoice-list

$height: 70px;
$edit_height: $height + 140px;

& {
  display: flex;
  flex-direction: column;
}

header {
  order: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin-bottom: 5px;
  margin-right: 10px;

  .details {
    margin-bottom: 10px;

    h2 {
      margin: 0 0 5px;
      line-height: 25px;
    }

    p {
      margin: 0;

      span {
        color: $foreground_light;
        font-size: 14px;
        line-height: 21px;
      }

      span:not(:last-child):after {
        content: '•';
        margin: 0 8px;
      }
    }
  }

  .buttons {
    display: flex;

    button {
      flex: 1;
    }
  }

}

.editor {
  order: 2;
  background: $subtle_dark;
  padding: 5px 0;
  margin-bottom: 5px;
  margin-right: 10px;

  .row {
    display: flex;
    margin-bottom: 5px;
    padding-right: 5px;
  }

  label {
    display: block;
    width: 80px;
    text-align: right;
    margin-right: 10px;
    font-weight: 700;
    line-height: 40px;
    color: $foreground;
  }

  input {
    flex: 1;
    display: block;
    border: 0;
    line-height: 20px;
    padding: 10px 10px;
    color: $black;
    background: $subtle;
    color: $foreground;
    outline: none;

    &:focus {
      background: $white;
      color: $background;
    }
  }

  .buttons {
    padding-right: 5px;
    margin-left: 90px;
    display: flex;

    button {
      flex: 1;
    }

  }
}

.invoice-list {
  flex: 1;
  order: 3;
  @extend #scroll;

  section > h5 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 5px;
    margin-top: 20px;
    line-height: 30px;
    padding: 0;
    color: $foreground;
    background: $subtle_dark;
    color: $secondary;
  }

  .invoice-item {
    @import 'invoiceItem';
  }
}
