// .page-clients

$padding: 20px;

& {
  display: flex;
  padding: $padding;
  flex-direction: row;

  & > section {
    max-width: 33.33%;
    box-sizing: border-box;
  }
}

section.client {
  flex: 1;
  order: 1;
  @import 'clientList';
}

section.invoice {
  flex: 1;
  order: 2;
  padding-left: $padding;
  @import 'invoiceList';
}

section.invoice-details {
  flex: 1;
  order: 3;
  padding-left: $padding;
  @import 'invoiceDetails';
}
