$white: #FFFFFF;
$black: #000000;

$turquoise: #1ABC9C;
$green_sea: #16A085;

$emerald: #2ECC71;
$nephritis: #27AE60;

$peter_river: #3498D8;
$belize_hole: #2980B9;

$amethyst: #9B59B6;
$wisteria: #8E44AD;

$wet_asphalt: #34495E;
$midnight_blue: #2C3E50;

$sun_flower: #F1C40F;
$orange: #F39C12;

$carrot: #E67E22;
$pumpkin: #D35400;

$alizarin: #E74C3C;
$pomegranate: #C0392B;

$clouds: #ECF0F1;
$silver: #BDC3C7;

$concrete: #95A5A6;
$asbestos: #7F8C8D;
